<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>수놀수놀 설문조사 리스트</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        h1 {
            color: #333333;
            text-align: center;
        }

        h2 {
            color: #666666;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>

<h2 id="result"></h2>

<script>
    // Function to fetch data from the URL and update the HTML
    function updateResult() {
        // Fetch the data from the URL
        fetch('//time2do.works/mbti/all')
            .then(response => response.json())
            .then(data => {
                // Access the desired result from the data object
                const result = data.data;

                // Update the HTML with the result
                const resultElement = document.getElementById('result');
                resultElement.textContent = result;
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // Trigger the updateResult function when the page loads
    window.addEventListener('load', updateResult);
</script>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

</head>

<body>
    <h1>수놀수놀 MBTI 설문조사지</h1>

    <h2>Q1. 여러분이 여행에서 가장 기대하는 건 무엇일까요?</h2>
    <p>여행에서 가장 기대하는 것: [여기에 기대하는 것 입력]</p>

    <h2>Q2. 여행지 숙소를 선정할 때 어떠한 기준을 가장 우선시하게 고려하시나요?</h2>
    <ul>
        <li>좋은 숙박시설: [좋은 숙박시설에 대한 응답]</li>
        <li>이동동선: [이동동선에 대한 응답]</li>
        <li>가성비: [가성비에 대한 응답]</li>
    </ul>

    <h2>Q3. 여행 기간동안 어떤 옷을 입을거에요?</h2>
    <ul>
        <li>러블리 치마: [러블리 치마에 대한 응답]</li>
        <li>편한 청바지: [편한 청바지에 대한 응답]</li>
    </ul>

    <h2>Q4. 제주도 여행 동안 어떠한 활동을 하고싶으세요?</h2>
    <ul>
        <li>요가 클래스: [요가 클래스에 대한 응답]</li>
        <li>야경 투어: [야경 투어에 대한 응답]</li>
        <li>맛집 탐방: [맛집 탐방에 대한 응답]</li>
        <li>전통 체험: [전통 체험에 대한 응답]</li>
    </ul>

    <h2>Q5. 예상치못한 교통사고가 났어요. 여러분이 가장 먼저 하는 일은?</h2>
    <ul>
        <li>사고현장 촬영: [사고현장 촬영에 대한 응답]</li>
        <li>상대방에서 화내기: [상대방에서 화내기에 대한 응답]</li>
        <li>보험사 연락: [보험사 연락에 대한 응답]</li>
    </ul>

    <h2>Q6. 제주도 여행 도중에서 돈이 떨어졌어요. 누구에게 가장 먼저 도움을 요청하실건가요?</h2>
    <ul>
        <li>소중한 연인: [소중한 연인에게 도움 요청에 대한 응답]</li>
        <li>부모님: [부모님에게 도움 요청에 대한 응답]</li>
        <li>친한 친구: [친한 친구에게 도움 요청에 대한 응답]</li>
        <li>혼자 해결: [혼자 해결할 의향에 대한 응답]</li>
    </ul>

    <h2>Q7. 기대했던 맛집에 드디어 도착했는데 문이 닫혀있다면?</h2>
    <ul>
        <li>가까운 식당으로 이동: [가까운 식당으로 이동에 대한 응답]</li>
        <li>미리 알아두었던 식당으로 이동: [미리 알아두었던 식당으로 이동에 대한 응답]</li>
    </ul>

    <h2>Q8. 숙소에서 사람들이 맥주 한 잔 제안했어요. 당신은 어떻게 대답하실거에요?</h2>
    <p>맥주 제안에 대한 응답: [여기에 대답 입력]</p>
</body>


</html>