<!DOCTYPE html>

<html>

<head>
    <title>Time2Do</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<h2 id="result"></h2>

<script>
    // Function to fetch data from the URL and update the HTML
    function updateResult() {
        // Fetch the data from the URL
        fetch('//time2do.works/mbti/all')
            .then(response => response.json())
            .then(data => {
                // Access the desired result from the data object
                const result = data.data;

                // Update the HTML with the result
                const resultElement = document.getElementById('result');
                resultElement.textContent = result;
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // Trigger the updateResult function when the page loads
    window.addEventListener('load', updateResult);
</script>


</html>